.presentation-container{
    padding: 0px 20px 20px 20px;
    align-self: stretch;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 0px 16px 16px 0px;
    overflow: hidden;
}

.presentation-container-img{
    display: inline-flex;
    align-items: flex-end;
    align-self: stretch;
    flex: 0 0 auto;
    border-radius: 16px 0px 0px 16px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.presentation-img{
    width: 403.18px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    object-fit: cover;
}

.presentation-container-content{
    align-items: flex-start;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  background-color: #ffffff;
}

.presenttion-content-title-container{
    align-items: flex-start;
    margin-right: -12.18px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.presentation-content-title1{
    position: relative;
  width: 177px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--simulatorgraytext);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.presentation-content-title2{
    position: relative;
    width: 589px;
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    color: var(--mainprimary);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    font-style: var(--h4-font-style);
}

.presentation-content-detail-container{
    display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1.18px;
}

.presentation-content-detail{
    position: relative;
    width: 578px;
    margin-top: -1.00px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--mainprimary);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);  
}


