.hero {
  display: flex;
  min-height: 640px;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.hero-container {
  width: 100%;
  max-width: 1440px;
  height: 640px;
  border-radius: 0 16px 16px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 1320px;
  height: 572px;
  flex-shrink: 0;
  border-radius: 16px;
  position: absolute;
  left: 60px;
  top: 34px;
  object-fit: cover;
}

.hero-content {
  display: flex;
  width: 660px;
  height: 320px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.hero-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.subtitle {
  color: rgba(12, 12, 13, 1);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.title {
  color: rgba(26, 27, 34, 1);
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  width: 589px;
}

.hero-quote {
  display: flex;
  height: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.quote-text {
  color: rgba(26, 27, 34, 1);
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  height: 100px;
}

.quote-author {
  color: rgba(182, 188, 191, 1);
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  width: 100%;
  margin: 0;
}
